{% extends "subsite.html" %}
{% load i18n %}

{% block inner_markup %}
					{% if LANGUAGE_CODE == "en" %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_acciaio.jpg">
						PRODUCTION OF STEEL CASTINGS
					</div>
					<div class="row two-columns">
						<p>This production started in 2003 and includes a wide range of steels with applications in many different sectors. At the beginning of 2013 was completed a major enlargement of the production area.</p>
						<p>The foundry is well equipped to perform heat treatments, rough chipping, finishing and painting on its steel castings. Fond-Stamp carries out on castingsheat treatment of annealing, normalizing and tempering.</p>
						<!-- <br> -->
						<div class="little_title {{pagina}}">
							<img class="little_triangles" alt="Acciaio" src="{{ STATIC_URL }}img/triangoli/triangoli_acciaio.jpg">
							STEEL FOUNDRY
						</div>
						<p>No. 4 induction furnaces , production of steel castings by using wood models as well as lost-foam polystyrene patterns , with a maximum weight of 7,5 Tons per piece.</p>
						<p><b>Production capacity available: 1.100 Tons/year.</b></p>
					</div>
					{% else %}{% if LANGUAGE_CODE == "fr" %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_acciaio.jpg">
						FONDERIE PIÈCES EN ACIER
					</div>
					<div class="row two-columns">
						<p>La fonderie acier produit différents nuances d’acier destinées aux secteurs les plus disparates.</p>
						<p>La structure est complètement équipée pour l’exécution des traitements thermiques et pour l’activité d’ébarbage, finition et peinture des pièces. La particulière typologie des fours utilisés permet la production d’une vaste gamme d’aciers.</p>
						<br>
						<div class="little_title {{pagina}}">
							<img class="little_triangles" alt="Acciaio" src="{{ STATIC_URL }}img/triangoli/triangoli_acciaio.jpg">
							FONDERIE ACIER
						</div>
						<p>Nr. 4 fours électriques , Fonderies en acier réalisées à partir de modèles en polystyrène détruits durant la coulée ou en bois jusqu’à un poids maximum de 7,5 Ton par pièce.</p>
						<p><b>Capacité de production: 1.100 Ton / année.</b></p>
					</div>
					{% else %}{% if LANGUAGE_CODE == "de" %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_acciaio.jpg">
						STAHLGUSS GIESSEREI
					</div>
					<div class="row two-columns">
						<p>Diese Produktion, eingeleitet im Jahr 2003, umfasst eine umfangreiche Auswahl Stahlguss in verschiedenen Bereiche eingesetzt. Die Stahlgiesserei wurde ab Januar 2013 viel erweitert und ergänzt, um die Produktionskapazität zu erhöhen wird und die gesamte Leistung zu verbessern.</p>
						<p>Die Stahlgussgießerei ist komplett ausgestattet um Entgraten, Fertigstellung und Lackierung der Teile auszuführen. Fond-Stamp führt an Stahlgussteile Wärmebehandlungen nach Kundenwünsch, wie Spannungsarmglühen, Normglühen und Vergütung aus.</p>
						<br>
						<div class="little_title {{pagina}}">
							<img class="little_triangles" alt="Acciaio" src="{{ STATIC_URL }}img/triangoli/triangoli_acciaio.jpg">
							STAHLGUSS GIESSEREI
						</div>
						<p>Nr. 4 Induktionsöfen - Stahlguss aus lost-foam Styropormodelle sowie aus Holzmodelle mit einen max. Gewicht von 7,5 Tons (Fertiggewicht).</p>
						<p><b>Produktion : 1.100 Tons / Jahr.</b></p>
					</div>
					{% else %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_acciaio.jpg">
						FONDERIA GETTI IN ACCIAIO
					</div>
					<div class="row two-columns">
						<p>Questa produzione operativa dal 2003, comprende una vasta gamma di acciai destinati a differenti settori. Ad inizio 2013 sono stati ultimati i lavori che hanno permesso un importante ampliamento dell’area produttiva, che ha visto aumentare considerevolmente le proprie potenzialità.</p>
						<p>La fonderia acciaio è dotata di attrezzature in grado di eseguire trattamenti termici, sbavatura, finitura e verniciatura dei getti. La Fond-Stamp opera sui getti in acciaio trattamenti termici di ricottura, normalizzazione e bonifica.</p>
						<br>
						<div class="little_title {{pagina}}">
							<img class="little_triangles" alt="Acciaio" src="{{ STATIC_URL }}img/triangoli/triangoli_acciaio.jpg">
							FONDERIA ACCIAIO
						</div>
						<p>Nr. 4 forni induzione, Getti in acciaio prodotti da modelli in legno ed in polistirolo a perdere, fino ad un peso di 7,5 Tonnellate a getto (peso spedito).</p>
						<p><b>Capacità di Produzione: 1.100 Tonnellate / anno.</b></p>
					</div>
					{% endif %}{% endif %}{% endif %}
					<div class="row" style="margin-top: 10%;"><a class="preview" href="{{ STATIC_URL }}img/schemi/schema_acciaio.jpg" title="Schematizzazione."><img src="{{ STATIC_URL }}img/schemi/schema_acciaio.jpg"/></a></div>
{% endblock %}
