{% extends "subsite.html" %}
{% load i18n %}

{% block inner_markup %}
					<div class="row secondary-menu">
						<a href="{{ STATIC_URL }}img/other/cartina-clienti.png" rel="prettyPhoto" title="I nostri clienti">CLIENTI</a>
						<a href="{{ STATIC_URL }}img/other/staff.jpg" rel="prettyPhoto" title="Lo staff dell'azienda">STAFF</a>
						<a href="{{ STATIC_URL }}img/other/certificazioni.jpg" rel="prettyPhoto" title="Certificato ISO 9001:2008">CERTIFICAZIONI</a>
					</div>
					<div class="row two-columns">
						La Fond-Stamp è specializzata nella 
						produzione di getti in ghisa ed acciaio ottenuti da modelli in polistirolo a 
						perdere ed è oggi considerata una fra 
						le aziende leader in questo settore.
						<br>L’azienda nasce nel 1967 come fonderia di getti in ghisa destinati al settore macchine utensili e stampi carrozzeria per l’industria Automotive.
						<br><br>Nel corso degli anni, pur conservando nell’attività fusoria il proprio core 
						business, la Fond-Stamp ha deciso 
						di ampliare le proprie competenze 
						inserendo prima l’officina per le lavorazioni meccaniche sui getti ed in 
						seguito la modelleria per la produzione di modelli in polistirolo a perdere.
						A completamento di questa evoluzione, nel 2003 è stata avviata la nuova 
						fonderia per la produzione di fusioni 
						in acciaio. Questo reparto produttivo 
						è stato recentemente oggetto di importanti investimenti iniziati nel 2012 
						e portati a termine nel 2013, che ne 
						hanno permesso un considerevole 
						ampliamento, sia in termini di superficie operativa che di capacità.
						<br><br>Pertanto oggi, con una presenza sul 
						mercato di oltre 45 anni, la FondStamp si propone quale interlocutore 
						esperto e versatile, in grado di offrire 
						quattro diversi tipi di produzioni quali:
						<br>• costruzione modelli in polistirolo
						<br>• fusioni in ghisa
						<br>• fusioni in acciaio
						<br>• lavorazioni meccaniche sui getti 
						<br>il tutto garantito e supportato da competenza tecnica e gestionale di altissimo livello.
						<br>L’ esperienza maturata nel corso degli 
						anni, unitamente all’utilizzo delle più 
						moderne e sofisticate tecnologie, ha 
						permesso all’azienda di acquisire uno 
						specifico know-how, che le consente 
						di mettere in atto le più diversificate 
						soluzioni produttive. 
						<br><br>La recente partnership con la Fonderia di Torbole e tutti gli importanti 
						investimenti che l’hanno caratterizzata, rappresentano per l’azienda uno 
						degli sviluppi più significativi avvenuti 
						negli ultimi anni. Fonderia di Torbole e Fond-Stamp infatti, pur essendo 
						due realtà ben distinte e indipendenti, 
						fondano la propria joint-venture su un 
						denominatore comune dalle grandi 
						potenzialità, il core business comune 
						costituito dall’attività fusoria.
					</div>
{% endblock %}
