{% extends "subsite.html" %}
{% load i18n %}

{% block inner_markup %}
					<div class="row secondary-menu title {{pagina}}">
						<img class="triangles" alt="Azienda" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<a class="{{pagina}}" href="javascript:void(0);" onclick="$('.two-columns').hide(); $('#staff').hide(); $('#certificazioni').hide(); $('#clienti').show();">CLIENTI</a>
						<img class="triangles" alt="Azienda" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<a class="{{pagina}}" href="javascript:void(0);" onclick="$('.two-columns').hide(); $('#clienti').hide(); $('#certificazioni').hide(); $('#staff').show();">STAFF</a>
						<img class="triangles" alt="Azienda" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<a class="{{pagina}}" href="javascript:void(0);" onclick="$('.two-columns').hide(); $('#clienti').hide(); $('#staff').hide(); $('#certificazioni').show();">CERTIFICAZIONI</a>
					</div>
					<div class="row two-columns">
						La Fond-Stamp è specializzata nella 
						produzione di getti in ghisa ed acciaio ottenuti da modelli in polistirolo a 
						perdere ed è oggi considerata una fra 
						le aziende leader in questo settore.
						<br>L’azienda nasce nel 1967 come fonderia di getti in ghisa destinati al settore macchine utensili e stampi carrozzeria per l’industria Automotive.
						<br><br>Nel corso degli anni, pur conservando nell’attività fusoria il proprio core 
						business, la Fond-Stamp ha deciso 
						di ampliare le proprie competenze 
						inserendo prima l’officina per le lavorazioni meccaniche sui getti ed in 
						seguito la modelleria per la produzione di modelli in polistirolo a perdere.
						A completamento di questa evoluzione, nel 2003 è stata avviata la nuova 
						fonderia per la produzione di fusioni 
						in acciaio. Questo reparto produttivo 
						è stato recentemente oggetto di importanti investimenti iniziati nel 2012 
						e portati a termine nel 2013, che ne 
						hanno permesso un considerevole 
						ampliamento, sia in termini di superficie operativa che di capacità.
						<br><br>Pertanto oggi, con una presenza sul 
						mercato di oltre 45 anni, la FondStamp si propone quale interlocutore 
						esperto e versatile, in grado di offrire 
						quattro diversi tipi di produzioni quali:
						<br>• costruzione modelli in polistirolo
						<br>• fusioni in ghisa
						<br>• fusioni in acciaio
						<br>• lavorazioni meccaniche sui getti 
						<br>il tutto garantito e supportato da competenza tecnica e gestionale di altissimo livello.
						<br>L’esperienza maturata nel corso degli 
						anni, unitamente all’utilizzo delle più 
						moderne e sofisticate tecnologie, ha 
						permesso all’azienda di acquisire uno 
						specifico know-how, che le consente 
						di mettere in atto le più diversificate 
						soluzioni produttive. 
						<br><br>La recente partnership con la Fonderia di Torbole e tutti gli importanti 
						investimenti che l’hanno caratterizzata, rappresentano per l’azienda uno 
						degli sviluppi più significativi avvenuti 
						negli ultimi anni. Fonderia di Torbole e Fond-Stamp infatti, pur essendo 
						due realtà ben distinte e indipendenti, 
						fondano la propria joint-venture su un 
						denominatore comune dalle grandi 
						potenzialità, il core business comune 
						costituito dall’attività fusoria.
						<br><br><img class="little_triangles" alt="" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<strong><a class="{{pagina}}" href="javascript:open_map();">COME RAGGIUNGERCI</a></strong>
					</div>
					<div id="google-map-modal" class="modal invisible fade" style="width:562px; height:562px; top: 20px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
							<h3>Fond-Stamp S.p.A.</h3>
						</div>
						<div class="modal-body">
							<iframe width="530" height="374" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=Via+Peirone,+3+-+12047+Rocca+de+Baldi+(CN)&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=67.548891,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Vincenzo+Peirone,+3,+Crava,+Cuneo,+Piemonte,+Italia&amp;t=m&amp;ll=44.533717,7.781067&amp;spn=0.366121,0.726471&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=Via+Peirone,+3+-+12047+Rocca+de+Baldi+(CN)&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=67.548891,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Vincenzo+Peirone,+3,+Crava,+Cuneo,+Piemonte,+Italia&amp;t=m&amp;ll=44.533717,7.781067&amp;spn=0.366121,0.726471&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">Visualizzazione ingrandita della mappa</a></small>
						</div>
						<div class="modal-footer" style="text-align: center;">
							<p>Fond-Stamp S.p.A. - Via Peirone, 3 - 12047 Rocca de' Baldi (CN)
							<br>tel. +39 0174 588004 - fax +39 0174 587500 - <a href="mailto:fond-stamp@fond-stamp.it">fond-stamp@fond-stamp.it</a></p>
							<!-- <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Chiudi</a> -->
						</div>
					</div>
					<div id="clienti" class="row azienda" style="display: none; position: relative;">
						<div style="float: left; margin-top: 2px;">
							<ul class="nazione">
								<li>FRANCIA
									<ul class="citta">
										<li>A <b>PSA RENNES</b> - CHARTRES DE BRETAGNE</li>
										<li>B <b>PSA SOCHAUX</b> - MONTBELIARD</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>GERMANIA
									<ul class="citta">
										<li>C <b>AUDI</b> - INGOLSTADT</li>
										<li>D <b>BMW</b> - DINGOLFING</li>
										<li>E <b>BMW</b> - MUNCHEN</li>
										<li>F <b>BMW</b> - KRAUTHAUSEN</li>
										<li>G <b>DAIMLER</b> - SINDELFINGEN</li>
										<li>H <b>DAIMLER</b> - BREMEN</li>
										<li>I <b>THYSSENKRUPP</b> - WADERN LOCKWEILER</li>
										<li>J <b>THYSSENKRUPP</b> - HEILBRONN</li>
										<li>K <b>VOESTALPINE POLYNORM</b> - SCHWABISH GMUND</li>
										<li>L <b>VOLKSWAGEN</b> - WOLFSBURG</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>INGHILTERRA
									<ul class="citta">
										<li>M <b>BMW UK</b> - SWINDON</li>
										<li>N <b>WHISTON INDUSTRIES</b> - WEST MIDLANDS</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>ITALIA
									<ul class="citta">
										<li>O <b>FAIB</b> - BASSANO DEL GRAPPA (VICENZA)</li>
										<li>P <b>IPB</b> - BRANDIZZO (TORINO)</li>
										<li>Q <b>NUOVA STAME</b> - SIRTORI (LECCO)</li>
										<li>R <b>SUSTA</b> - CASTELLALTO (TERAMO)</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>OLANDA
									<ul class="citta">
										<li>S <b>VOESTALPINE BV</b> - LJ BUNSCHNOTEN</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>POLONIA
									<ul class="citta">
										<li>T <b>FIAT POLAND</b> - BIELSKO BIALA</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>REPUBBLICA CECA
									<ul class="citta">
										<li>U <b>SKODA</b> - MLADA BOLESLAV</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>ROMANIA
									<ul class="citta">
										<li>V <b>DACIA</b> - MIOVENI ARGES</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>SLOVENIA
									<ul class="citta">
										<li>W <b>KOVINOPLASTIKA</b> - STARI TRG PRI LOZU</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>UNGHERIA
									<ul class="citta">
										<li>X <b>AUDI</b> - GYOR</li>
									</ul>
								</li>
							</ul>
						</div>
						<div style="margin-top: -12px; position: absolute; right: -20px; z-index: -1;">
						<!-- <div style="float: right; width: 60%; height: 678px; margin-top: -20px; margin-right: -20px; position: relative; z-index: -1"> -->
							<img id="cartina-clienti" alt="Cartina clienti" src="{{ STATIC_URL }}img/other/cartina_clienti.jpg">
						</div>
					</div>
					<div id="staff" class="azienda" style="display: none;">
						<div id="staff-col-1" style="float: left;">
							<ul class="staff"><li><b>Presidente:</b><br>Armando Tosello<br><img src="{{ STATIC_URL }}img/staff/presidente.jpg"></li></ul>
							<ul class="staff"><li><b>Amm. delegato:</b><br>Enrico Frigerio<br><img src="{{ STATIC_URL }}img/staff/ammin_delegato.jpg"></li></ul>
							<ul class="staff"><li><b>Dir. generale:</b><br>Giancarlo Duvina<br><img src="{{ STATIC_URL }}img/staff/direttore.jpg"></li></ul>
							<ul class="staff"><li><b>Amministrazione:</b><br>Ornella Tomatis<br><img src="{{ STATIC_URL }}img/staff/ammin.jpg"></li></ul>
							<ul class="staff"><li><b>Acquisti:</b><br>Daniela Tosello<br><img src="{{ STATIC_URL }}img/staff/acquisti.jpg"></li></ul>
						</div>
						<div id="staff-col-2" style="float: left;">
							<ul class="staff"><li><b>Qualità:</b><br>
								<div>Claudio Sasso<br><img src="{{ STATIC_URL }}img/staff/qualita_1.jpg"></div>
								<div>Paolo Godano<br><img src="{{ STATIC_URL }}img/staff/qualita_2.jpg"></div></li>
							</ul>
							<ul class="staff"><li><b>Commerciale:</b><br>
								<div>Luciana Massano<br>(ITA/FRA)<br><img src="{{ STATIC_URL }}img/staff/stc_1.jpg"></div>
								<div>Federica Cravero<br>(ITA/TED/INGL)<br><img src="{{ STATIC_URL }}img/staff/stc_2.jpg"></div>
								<p></p>
								<div>Alessia Raviola<br>(ITA/FRA/SPA)<br><img src="{{ STATIC_URL }}img/staff/stc_3.jpg"></div>
								<div>Claudia Ferrero<br>(ITA/TED//FRA/INGL)<br><img src="{{ STATIC_URL }}img/staff/stc_4.jpg"></div></li>
							</ul>
							<ul class="staff" style="margin-top: -3px"><li><b>Modelleria:</b><br>Luca Cusanno<br><img src="{{ STATIC_URL }}img/staff/modelleria.jpg"></li></ul>
							<ul class="staff"><li><b>Fonderia ghisa:</b><br>Marco Salvatico<br><img src="{{ STATIC_URL }}img/staff/ghisa.jpg"></li></ul>
						</div>
						<div id="staff-col-3" style="float: right;">
							<ul class="staff"><li><b>Fonderia acciaio:</b><br>Angelo Bernardi<br><img src="{{ STATIC_URL }}img/staff/acciaio.jpg"></li></ul>
							<ul class="staff"><li><b>Officina:</b><br>Sergio Beatovic<br><img src="{{ STATIC_URL }}img/staff/officina.jpg"></li></ul>
							<ul class="staff"><li><b>Manutenzione:</b><br>Massimo Capellano<br><img src="{{ STATIC_URL }}img/staff/manutenzione.jpg"></li></ul>
							<ul class="staff"><li><b>Ricerca & sviluppo:</b><br>Ufficio tecnico<br><img src="{{ STATIC_URL }}img/staff/unknown.jpg"></li></ul>
						</div>
					</div>
					<div id="certificazioni" class="azienda" style="display: none;">
						<div style="margin-top: 80px; margin-bottom: 20px; color: #333;">
							In questa sezione è raccolta tutta la documentazione
							<br>Fond-Stamp riguardante Certificazioni e Qualità.
						</div>
						<a class="{{pagina}}" href="{{ STATIC_URL }}img/other/certificazioni.pdf" target="_blank">
							<img alt="Download PDF" src="{{ STATIC_URL }}img/other/pdf_download_icon.png" width="60"><strong>&nbsp;Certificato Sistema Qualità</strong>
						</a>
					</div>
{% endblock %}
{% block js %}
{{ block.super }}
		<script type="text/javascript">
			function open_map() {   
				$('#google-map-modal').removeClass("invisible");
				$('#google-map-modal').modal('toggle');   
			}		
		</script>
{% endblock %}
