{% extends "subsite.html" %}
{% load i18n %}

{% block inner_markup %}
					<div class="row secondary-menu title {{pagina}} alza">
						<img class="triangles" alt="Azienda" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<a class="{{pagina}}" href="javascript:void(0);" onclick="$('.two-columns').hide(); $('#staff').hide(); $('#certificazioni').hide(); $('#clienti').show();">
						{% if LANGUAGE_CODE == "en" %}CLIENTS
						{% else %}{% if LANGUAGE_CODE == "fr" %}CLIENTS
						{% else %}{% if LANGUAGE_CODE == "de" %}HAUPTKUNDEN
						{% else %}CLIENTI{% endif %}{% endif %}{% endif %}</a>
						<img class="triangles" alt="Azienda" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<a class="{{pagina}}" href="javascript:void(0);" onclick="$('.two-columns').hide(); $('#clienti').hide(); $('#certificazioni').hide(); $('#staff').show();">
						{% if LANGUAGE_CODE == "en" %}STAFF
						{% else %}{% if LANGUAGE_CODE == "fr" %}PERSONNEL
						{% else %}{% if LANGUAGE_CODE == "de" %}PERSONAL
						{% else %}STAFF{% endif %}{% endif %}{% endif %}</a>
						<img class="triangles" alt="Azienda" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<a class="{{pagina}}" href="javascript:void(0);" onclick="$('.two-columns').hide(); $('#clienti').hide(); $('#staff').hide(); $('#certificazioni').show();">
						{% if LANGUAGE_CODE == "en" %}CERTIFICATIONS
						{% else %}{% if LANGUAGE_CODE == "fr" %}CERTIFICATIONS
						{% else %}{% if LANGUAGE_CODE == "de" %}ZERTIFIZIERUNGEN
						{% else %}CERTIFICAZIONI{% endif %}{% endif %}{% endif %}</a>
					</div>
					<div class="row two-columns">
					{% if LANGUAGE_CODE == "en" %}
						<p>Fond-Stamp is specialised in the production of cast iron and steel castings obtained by lost foam polystyrene patterns and ranks among the leading firms in this sector.
						<br>The Company was established in 1967 as a cast iron foundry especially aimed at producing castings for the machine tool sector and for the Automotive industry.</p>
						<p>Over the years, although maintaining the melting as its core business, the company has extended its technical skills adding before the machine shop, 
						for the machining of castings and then the pattern shop, for the production of polystyrene patterns. Since 2003 Fond-Stamp has included also the activity of iron castings. This production, 
						during the 2012 and 2013, has been significantly enlarged and modernized with major investments. Throughout the years Fond-Stamp has focused its efforts on the market needs, in order 
						to become a Partner able to provide an efficient and wide-range service and above all to guarantee assistance, reliability and quick response time. </p>
						<p>For this reason, with more than 45-years experience, Fond-Stamp is now able to supply the following four production fields:
						<br>• Construction of polystyrene patterns
						<br>• Cast iron castings
						<br>• Steel castings
						<br>• Machining on castings
						<br>All those activities are guaranteed and held by high-level technical and management competence.</p>
						<p>Among the most recent developments, it is important to highlight the newborn partnership with Fonderia di Torbole. This evolution can ensure synergies and it strengthens the company’s position on the market by sharing expertise
						and common goals. Fonderia di Torbole and Fond-Stamp, although with different structures and productions, are two companies whose core-business is moulding. This allows a joint-venture intended for a very successful cooperation.</p>
						<p><img class="little_triangles" alt="" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<strong><a class="{{pagina}}" href="javascript:open_map();">HOW TO FIND US</a></strong></p>
					{% else %}{% if LANGUAGE_CODE == "fr" %}
						<p>La Fond-Stamp est spécialisée dans la production des fonderies en fonte et en acier obtenues à partir de modèles en polystyrène détruits à la coulée et aujourd’hui elle est réputée une des sociétés leader dans ce secteur.
						<br>La Fond-Stamp nait en 1967 comme fonderie fonte dédiée à la production des pièces pour machines-outils et au secteur d’outils pour carrosserie de l’industrie de l’automobile.</p>
						<p>Dans la suite au cours des années, bien que maintenant dans l’activité de fusion son «core business», elle a développé ses compétences en introduisant - entre autres - les 
						usinages mécaniques et la réalisation des modèles en polystyrène. En 2003 on a démarré la nouvelle production des fonderies en acier. Cette département productif a fait l’objet d’importants 
						investissements lancés en 2012 et achevée en 2013, qui en ont permis l’expansion et le développement. Dans le cours des années la Fond-Stamp s’est rendue compte de la nécessite, qu’ il avait le 
						marché, d’un interlocuteur en mesure de fournir un service toujours plus vaste, complet, efficace mais surtout un Partner capable d’assurer assistance en garantissant à la fois fiabilité et temps 
						de réponse toujours plus rapides. Seulement le fait d’avoir le contrôle et la gestion directe de tous les passages aurait pu consentir la réalisation simultanée de tous les buts. Pour ces raisons aux 
						cours des années grâce à considérables investissements, à l’historique fonderie on a flanqué en première l’usinage mécanique, par suite le moelage et en dernier la fonderie acier.</p>
						<p>En conséquence aujourd’hui, avec 45 ans d’expérience sur le marché, la Fond-Stamp se propose commeinterlocuteur en état d’offrir:
						<br>• réalisation des modèles en polystyrène
						<br>• fonderies en fonte
						<br>• fonderies en acier
						<br>• usinages mécaniques
						<br>le tout garanti et assisté d’une compétence technique et gestionnaire de toute importance.</p>
						<p>On doit réserver spécial égard à la technique d’utilise du polystyrène perdu, développé au cours des années avec les technologies les plus innovées et appuyés d’un spécifique know-how, qui nous consent les plus diversifiées prestations. Entre les
						plus récents développements à signaler la nouvelle « partnership » avec la Fonderia di Torbole. Dans un marché global un démarche stratégique fondamental pour faire face avec élan et solidité aux défis futures, une évolution qui garantisse
						synergie de group et renforce la position sur les marchés en présentant au secteur une société compétitive et en mesure de se proposer comme interlocuteur évolué et structuré. Fonderia di Torbole et Fond-Stamp, même s’elles ont caractéristiques différentes, 
						soit d’un point de vue structural soit des productions, sont en tout cas deux réalités qui ont dans la fusion leur « core business » principal et que avec ce commun dénominateur elles ont l’intention d’établir les bases pour une joint-venture de grands potentialité.</p>
						<p><img class="little_triangles" alt="" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<strong><a class="{{pagina}}" href="javascript:open_map();">COMMENT NOUS REJOINDRE</a></strong></p>
					{% else %}{% if LANGUAGE_CODE == "de" %}
						<p>Fond-Stamp S.p.A. ist auf die Anfertigung von Guss und Stahlguss aus „lost-foam“ Styropormodelle spezialisiert und wird heute als eines der führenden Unternehmen in diesem Sektor geschätzt.
						<br>Das Unternehmen wurde im 1967 gegründet und die Giesserei belieferte besonders die Maschinenindustrie, dann später auch die Automobilindustrie.</p>
						<p>Im Laufe der Jahre hat dauernd Fond-Stamp seine Kompetenz ins Schmelzen verbessert und implementiert und immer unter Berücksichtigung des Schmelzen als „core-business“, hat zwei ergänzende Abteilungen hinzugefügt: 
						früher die Mechanische Werkstatt für die Bearbeitungen an Gussteile und dann einen Modellbau für die Anfertigung von Styropormodelle („lost-foam“). Im Bereich dieser Entwicklung wurde im Jahr 2003 die neue Gießerei 
						für die Herstellung von Stahlguss gestartet. Diese Produktionsabteilung wurde kürzlich, danke erheblichen Investitionen, eingeleitet im Jahr 2012 und fertiggestellt im Jahr 2013, viel erweitert und renoviert. Daher stellt sich heute Fa.</p>
						<p>Fond-Stamp, danke mehr als 45 Jahre Erfahrung, wie einen zuverlässigen Partner vor und in der Lage vier verschieden Leistungen anzubieten:
						<br>• Styropormodellanfertigung
						<br>• Gussanfertigung (Grau-und Sphäroguss)
						<br>• Stahlgussanfertigung
						<br>• Mechanische Bearbeitungen
						<br>mit der Garantie und Unterstützung von einer Kompetenz auf dem höchsten technischen Niveau.</p>
						<p>Die Herstellungstechnik im Laufe der Jahre wurde mit der neuesten Technologien entwickelt und durch ein spezifisches Know-how ermöglicht unterschiedliche Produktionen. Die Partnerschaft mit Fa. Fonderia di Torbole ist eine der neuste Entwicklungen zu melden. Die Gießereien Fonderia
						di Torbole und Fond-Stamp, trotz die verschiedene Produktionen und Strukturen, sind jedoch zwei Betriebe, deren Hauptkerngeschäft in den Schmelzen besteht und diese Kooperation stellt ein wichtiges Potential dar.</p>
						<p><img class="little_triangles" alt="" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<strong><a class="{{pagina}}" href="javascript:open_map();">ANFAHRT</a></strong></p>
					{% else %}
						<p>La Fond-Stamp è specializzata nella produzione di getti in ghisa ed acciaio ottenuti da modelli in polistirolo a perdere ed è oggi considerata una fra le aziende leader in questo settore.
						<br>L’azienda nasce nel 1967 come fonderia di getti in ghisa destinati al settore macchine utensili e stampi carrozzeria per l’industria Automotive.</p>
						<p>Nel corso degli anni, pur conservando nell’attività fusoria il proprio core business, la Fond-Stamp ha deciso di ampliare le proprie competenze inserendo prima l’officina per le lavorazioni meccaniche sui getti ed in 
						seguito la modelleria per la produzione di modelli in polistirolo a perdere. A completamento di questa evoluzione, nel 2003 è stata avviata la nuova fonderia per la produzione di fusioni  in acciaio. Questo reparto produttivo 
						è stato recentemente oggetto di importanti investimenti iniziati nel 2012 e portati a termine nel 2013, che ne hanno permesso un considerevole ampliamento, sia in termini di superficie operativa che di capacità.</p>
						<p>Pertanto oggi, con una presenza sul mercato di oltre 45 anni, la FondStamp si propone quale interlocutore esperto e versatile, in grado di offrire quattro diversi tipi di produzioni quali:
						<br>• costruzione modelli in polistirolo
						<br>• fusioni in ghisa
						<br>• fusioni in acciaio
						<br>• lavorazioni meccaniche sui getti 
						<br>il tutto garantito e supportato da competenza tecnica e gestionale di altissimo livello.
						<br>L’esperienza maturata nel corso degli anni, unitamente all’utilizzo delle più moderne e sofisticate tecnologie, ha permesso all’azienda di acquisire uno specifico know-how, che le consente di mettere in atto le più diversificate soluzioni produttive.</p>
						<p>La recente partnership con la Fonderia di Torbole e tutti gli importanti investimenti che l’hanno caratterizzata, rappresentano per l’azienda uno degli sviluppi più significativi avvenuti negli ultimi anni. Fonderia di Torbole e Fond-Stamp infatti, pur essendo 
						due realtà ben distinte e indipendenti, fondano la propria joint-venture su un denominatore comune dalle grandi potenzialità, il core business comune costituito dall’attività fusoria.</p>
						<p><img class="little_triangles" alt="" src="{{ STATIC_URL }}img/triangoli/triangolo_singolo_azienda.jpg">
						<strong><a class="{{pagina}}" href="javascript:open_map();">COME RAGGIUNGERCI</a></strong></p>
					{% endif %}{% endif %}{% endif %}
					</div>
					<div id="google-map-modal" class="modal invisible fade" style="width:562px; height:562px; top: 20px;" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-header">
							<a class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
							<h3>Fond-Stamp S.p.A.</h3>
						</div>
						<div class="modal-body">
							<iframe width="530" height="374" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=Via+Peirone,+3+-+12047+Rocca+de+Baldi+(CN)&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=67.548891,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Vincenzo+Peirone,+3,+Crava,+Cuneo,+Piemonte,+Italia&amp;t=m&amp;ll=44.533717,7.781067&amp;spn=0.366121,0.726471&amp;z=10&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=Via+Peirone,+3+-+12047+Rocca+de+Baldi+(CN)&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=67.548891,135.263672&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Vincenzo+Peirone,+3,+Crava,+Cuneo,+Piemonte,+Italia&amp;t=m&amp;ll=44.533717,7.781067&amp;spn=0.366121,0.726471&amp;z=10&amp;iwloc=A" style="color:#0000FF;text-align:left">Visualizzazione ingrandita della mappa</a></small>
						</div>
						<div class="modal-footer" style="text-align: center;">
							<p>Fond-Stamp S.p.A. - Via Peirone, 3 - 12047 Rocca de' Baldi (CN)
							<br>tel. +39 0174 588004 - fax +39 0174 587500 - <a href="mailto:fond-stamp@fond-stamp.it">fond-stamp@fond-stamp.it</a></p>
							<!-- <a href="#" class="btn" data-dismiss="modal" aria-hidden="true">Chiudi</a> -->
						</div>
					</div>
					<div id="clienti" class="row azienda" style="display: none; position: relative;">
						<div style="float: left; margin-top: 2px;">
							<ul class="nazione">
								<li>FRANCIA
									<ul class="citta">
										<li>A <b>PSA RENNES</b> - CHARTRES DE BRETAGNE</li>
										<li>B <b>PSA SOCHAUX</b> - MONTBELIARD</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>GERMANIA
									<ul class="citta">
										<li>C <b>AUDI</b> - INGOLSTADT</li>
										<li>D <b>BMW</b> - DINGOLFING</li>
										<li>E <b>BMW</b> - MUNCHEN</li>
										<li>F <b>BMW</b> - KRAUTHAUSEN</li>
										<li>G <b>DAIMLER</b> - SINDELFINGEN</li>
										<li>H <b>DAIMLER</b> - BREMEN</li>
										<li>I <b>THYSSENKRUPP</b> - WADERN LOCKWEILER</li>
										<li>J <b>THYSSENKRUPP</b> - HEILBRONN</li>
										<li>K <b>VOESTALPINE POLYNORM</b> - SCHWABISH GMUND</li>
										<li>L <b>VOLKSWAGEN</b> - WOLFSBURG</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>INGHILTERRA
									<ul class="citta">
										<li>M <b>BMW UK</b> - SWINDON</li>
										<li>N <b>WHISTON INDUSTRIES</b> - WEST MIDLANDS</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>ITALIA
									<ul class="citta">
										<li>O <b>FAIB</b> - BASSANO DEL GRAPPA (VICENZA)</li>
										<li>P <b>IPB</b> - BRANDIZZO (TORINO)</li>
										<li>Q <b>NUOVA STAME</b> - SIRTORI (LECCO)</li>
										<li>R <b>SUSTA</b> - CASTELLALTO (TERAMO)</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>OLANDA
									<ul class="citta">
										<li>S <b>VOESTALPINE BV</b> - LJ BUNSCHNOTEN</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>POLONIA
									<ul class="citta">
										<li>T <b>FIAT POLAND</b> - BIELSKO BIALA</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>REPUBBLICA CECA
									<ul class="citta">
										<li>U <b>SKODA</b> - MLADA BOLESLAV</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>ROMANIA
									<ul class="citta">
										<li>V <b>DACIA</b> - MIOVENI ARGES</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>SLOVENIA
									<ul class="citta">
										<li>W <b>KOVINOPLASTIKA</b> - STARI TRG PRI LOZU</li>
									</ul>
								</li>
							</ul>
							<ul class="nazione">
								<li>UNGHERIA
									<ul class="citta">
										<li>X <b>AUDI</b> - GYOR</li>
									</ul>
								</li>
							</ul>
						</div>
						<div style="margin-top: -12px; position: absolute; right: -20px; z-index: -1;">
						<!-- <div style="float: right; width: 60%; height: 678px; margin-top: -20px; margin-right: -20px; position: relative; z-index: -1"> -->
							<img id="cartina-clienti" alt="Cartina clienti" src="{{ STATIC_URL }}img/other/cartina_clienti.jpg">
						</div>
					</div>
					<div id="staff" class="azienda" style="display: none;">
						<div style="display: table;">
							<div style="display: table-row;">
								<!-- <ul class="staff"><li><b>Presidente Onorario:</b><br>Armando Tosello<br><img src="{{ STATIC_URL }}img/staff/presidente.jpg"></li></ul> -->
								<ul class="staff"><li><b>Presidente:</b><br>Enrico Frigerio<br><img src="{{ STATIC_URL }}img/staff/frigerio.jpg"></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:direzione@fond-stamp.it"><b>Dir. generale:</b><br>Giancarlo Duvina<br><img src="{{ STATIC_URL }}img/staff/duvina.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:fonderia@fond-stamp.it"><b>Fonderie:</b><br>Angelo Bernardi<br><img src="{{ STATIC_URL }}img/staff/bernardi.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:acciaio.bonetti@fond-stamp.it"><b>Fonderia acciaio:</b><br>Paolo Bonetti<br><img src="{{ STATIC_URL }}img/staff/bonetti.jpg"></a></li></ul>
							</div>
							<div style="display: table-row;">
								<ul class="staff"><li><a target="_top" href="mailto:ufficio.tecnico@fond-stamp.it"><b>Costruzione modelli:</b><br>Luca Cusanno<br><img src="{{ STATIC_URL }}img/staff/cusanno.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:officina@fond-stamp.it"><b>Officina meccanica:</b><br>Danilo Andreietti<br><img src="{{ STATIC_URL }}img/staff/andreietti.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:ambiente.sicurezza@fond-stamp.it"><b>Qualità e sicurezza:</b><br>Claudio Sasso<br><img src="{{ STATIC_URL }}img/staff/sasso.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:qualita@fond-stamp.it"><b>Qualità:</b><br>Paolo Godano<br><img src="{{ STATIC_URL }}img/staff/godano.jpg"></a></li></ul>
							</div>
							<div style="display: table-row;">
								<ul class="staff"><li><a target="_top" href="mailto:acquisti.romina@fond-stamp.it"><b>Acquisti:</b><br>Romina Baudena<br><img src="{{ STATIC_URL }}img/staff/baudena.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:amministrazione.ornella@fond-stamp.it"><b>Amministrazione:</b><br>Ornella Tomatis<br><img src="{{ STATIC_URL }}img/staff/tomatis.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:amministrazione.daniela@fond-stamp.it"><b>Personale:</b><br>Daniela Tosello<br><img src="{{ STATIC_URL }}img/staff/tosello.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:manutenzione@fond-stamp.it"><b>Manutenzione:</b><br>Massimo Capellano<br><img src="{{ STATIC_URL }}img/staff/capellano.jpg"></a></li></ul>
							</div>
							<div style="display: table-row;">
								<ul class="staff"><li><a target="_top" href="mailto:laboratorio.metallurgico@fond-stamp.it"><b>Lab. metallurgico:</b><br>Sergio Beatovic<br><img src="{{ STATIC_URL }}img/staff/beatovic.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:f.cravero@fond-stamp.it"><b>Area Germania:</b><br>Federica Cravero<br><img src="{{ STATIC_URL }}img/staff/cravero.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:stc.luciana@fond-stamp.it"><b>Segr. Commerciale:</b><br>Luciana Massano<br><img src="{{ STATIC_URL }}img/staff/massano.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:stc.claudia@fond-stamp.it"><b>Segr. Commerciale:</b><br>Claudia Ferrero<br><img src="{{ STATIC_URL }}img/staff/ferrero.jpg"></a></li></ul>
							</div>
							<div style="display: table-row;">
								<ul class="staff"><li><a target="_top" href="mailto:stc.alessia@fond-stamp.it"><b>Segr. Commerciale:</b><br>Alessia Raviola<br><img src="{{ STATIC_URL }}img/staff/raviola.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:stc.erika@fond-stamp.it"><b>Segr. Commerciale:</b><br>Erika Laconi<br><img src="{{ STATIC_URL }}img/staff/laconi.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:stc.lucia@fond-stamp.it"><b>Merci e centralino:</b><br>Lucia Liboà<br><img src="{{ STATIC_URL }}img/staff/liboa.jpg"></a></li></ul>
								<ul class="staff"><li><a target="_top" href="mailto:stc.lucia@fond-stamp.it"><b>Merci e centralino:</b><br>Andreina Petagna<br><img src="{{ STATIC_URL }}img/staff/petagna.jpg"></a></li></ul>
							</div>
						</div>
					</div>
					<div id="certificazioni" class="azienda" style="display: none;">
						<div style="margin-top: 80px; margin-bottom: 20px; color: #333;">
							In questa sezione è raccolta tutta la documentazione
							<br>Fond-Stamp riguardante Certificazioni e Qualità.
						</div>
						<a class="{{pagina}}" href="{{ STATIC_URL }}img/other/certificazioni.pdf" target="_blank">
							<img alt="Download PDF" src="{{ STATIC_URL }}img/other/pdf_download_icon.png" width="60" style="max-width: 60px;"><strong>&nbsp;Certificato Sistema Qualità</strong>
						</a>
					</div>
{% endblock %}
{% block js %}
{{ block.super }}
		<script type="text/javascript">
			function open_map() {   
				$('#google-map-modal').removeClass("invisible");
				$('#google-map-modal').modal('toggle');   
			}
		</script>
{% endblock %}
