{% extends "subsite.html" %}
{% load i18n %}

{% block inner_markup %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_ghisa.jpg">
						FONDERIA GETTI IN GHISA
					</div>
					<div class="row two-columns">
						La fonderia ghisa è specializzata nella produzione di getti 
						ricavati da modelli in polistirolo a perdere (lost foam).
						L’azienda ha costantemente perfezionato questa tecnologia 
						ed oggi è in grado di soddisfare le sempre più esigenti 
						richieste della propria clientela internazionale.
						<br><br>A supporto dell’attività di formatura
						viene utilizzato il software MAGMA-SOFT che, simulando 
						la fase di riempimento e successiva solidificazione del getto, 
						indica le migliori soluzioni utili per garantire gli standard qualitativi previsti.
						<br><br>Inoltre, per la produzione di ghise sferoidali, 
						legate e non legate, nuove sofisticate attrezzature consentono 
						un monitoraggio costante del processo produttivo, garantendo 
						al tempo stesso il rispetto e la tutela delle norme ecologiche ed ambientali.
						<br>
						<div class="little_title {{pagina}}">
							<img class="little_triangles" alt="Ghisa" src="{{ STATIC_URL }}img/triangoli/triangoli_ghisa.jpg">
							FONDERIA GHISA GRIGIA E SFEROIDALE, LEGATA E NON LEGATA
						</div>
						Nr. 2 forni elettrici, Getti in ghisa (Grigia e Sferoidale, legata e non legata) prodotti 
						da modelli in polistirolo a perdere, fino ad un peso max. di 25 Tonnellate a getto (peso spedito).
						<br><br><b>Capacità di Produzione: 10.000 Tonnellate/anno</b>
					</div>
					<div class="row" style="margin-top: 6%;"><a class="preview" href="{{ STATIC_URL }}img/schemi/schema_ghisa.jpg" rel="prettyPhoto" title="Schematizzazione."><img src="{{ STATIC_URL }}img/schemi/schema_ghisa.jpg"/></a></div>
{% endblock %}
