{% extends "site_base.html" %}
{% load i18n %}

{# This is the page title #}
{% block title %}Fondstamp{% endblock %}

{% block css %}
{{ block.super }}
		<link href="{{ STATIC_URL }}css/style.css" rel="stylesheet">

		<!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
{% endblock %}


{# Content of the page #}
{% block markup %}
			<div class="row">
				<div class="span1"><img src="{{ STATIC_URL }}img/home/1.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/2.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/3.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/4.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/5.jpg"/></div>
			</div>
			<div class="row">
				<div class="span1"><img src="{{ STATIC_URL }}img/home/6.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/7.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/8.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/9.jpg"/></div>
				<div class="span1">
					<div class="row"><a href="azienda"><img src="{{ STATIC_URL }}img/boxes/{{ LANGUAGE_CODE }}/azienda.jpg"></a></div>
					<div class="row"><a href="modelli"><img src="{{ STATIC_URL }}img/boxes/{{ LANGUAGE_CODE }}/modelli.jpg"></a></div>
				</div>
			</div>
			<div class="row">
				<div class="span4 language_choices">
					<img src="{{ STATIC_URL }}img/home/fondstamp.jpg"/>
					<form action="{% url 'set_language' %}" method="post">
					{% csrf_token %}
					<div class="language it"><button type="submit" name="language" value="it"><img src="{{ STATIC_URL }}img/home/it.jpg"/></button></div>
					<div class="language en"><button type="submit" name="language" value="en"><img src="{{ STATIC_URL }}img/home/en.jpg"/></button></div>
					<div class="language fr"><button type="submit" name="language" value="fr"><img src="{{ STATIC_URL }}img/home/fr.jpg"/></button></div>
					<div class="language de"><button type="submit" name="language" value="de"><img src="{{ STATIC_URL }}img/home/de.jpg"/></button></div>
					</form>
				</div>
				<div class="span1">
					<div class="row"><a href="ghisa"><img src="{{ STATIC_URL }}img/boxes/{{ LANGUAGE_CODE }}/ghisa.jpg"></a></div>
					<div class="row"><a href="acciaio"><img src="{{ STATIC_URL }}img/boxes/{{ LANGUAGE_CODE }}/acciaio.jpg"></a></div>
				</div>
			</div>
			<div class="row">
				<div class="span1"><img src="{{ STATIC_URL }}img/home/10.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/11.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/12.jpg"/></div>
				<div class="span1"><img src="{{ STATIC_URL }}img/home/13.jpg"/></div>
				<div class="span1">
					<div class="row"><a href="meccanica"><img src="{{ STATIC_URL }}img/boxes/{{ LANGUAGE_CODE }}/meccanica.jpg"></a></div>
					<div class="row"><a href="laboratorio"><img src="{{ STATIC_URL }}img/boxes/{{ LANGUAGE_CODE }}/laboratorio.jpg"></a></div>
				</div>
			</div>
{{ block.super }}
{% endblock %}
{# end of content #}