{% extends "subsite.html" %}
{% load i18n %}

{% block inner_markup %}
					{% if LANGUAGE_CODE == "en" %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_meccanica.jpg">
						MACHINING ON CASTINGS
					</div>
					<div class="row two-columns">
						<p>The machine shop was the first of complementary activities established beside the foundry. The department is supported by a CAD-CAM center for data processing and is equipped with CNC milling machines, aimed to perform 2D and 3D machining on castings of medium and large sizes.</p>
						<div class="dontsplit">
						<div class="little_title {{pagina}} hanging-indent">
							<img class="little_triangles" alt="Meccanica" src="{{ STATIC_URL }}img/triangoli/triangoli_meccanica.jpg">
							MACHINE SHOP
						</div>
						No. 5 CNC Milling machines and Nr. 1 small milling machine for the lower surface machining of trim steel, 2D and 3D machining on castings of medium and large sizes.
						</div>
						<p><b>Production hours available: 15.000 hours/year.</b></p>
					</div>
					{% else %}{% if LANGUAGE_CODE == "fr" %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_meccanica.jpg">
						ATELIER D’USINAGES MÉCANIQUES
					</div>
					<div class="row two-columns">
						<p>L’atelier d’Usinages Mécaniques était le premier des activités complémentaires nées à côté de la fonderie. L’atelier est appuyé sur une centre CAD-CAM pour l’élaboration des donnés et il est équipé des fraises CNC avec lesquelles viennent réalisée les usinages 2D et 3D sur fonderies de moyennes et grands dimensions.</p>
						<div class="dontsplit">
						<div class="little_title {{pagina}} hanging-indent">
							<img class="little_triangles" alt="Meccanica" src="{{ STATIC_URL }}img/triangoli/triangoli_meccanica.jpg">
							ATELIER USINAGES MÉCANIQUES
						</div>
						Nr. 5 Machines à fraiser et une machine pour dégauchissage lames, Usinages 2D et 3D de pièces de fonderie de moyennes et de grandes dimensions .
						</div>
						<p><b>Heures de production disponibles: 15.000 heures / année.</b></p>
					</div>
					{% else %}{% if LANGUAGE_CODE == "de" %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_meccanica.jpg">
						MECHANISCHE WERKSTATT
					</div>
					<div class="row two-columns">
						<p>Die Mechanische Werkstatt ist die erste zusätzliche Abteilung gegründet neben die Giesserei. Ein CAD-CAM Büro unterstützt die Aktivitäten für die Datenausarbeitung und Programmierung und die CNC Fräsmaschinen führen die mechanische Bearbeitungen 2D und 3D auf Große- und Mittelteile aus.</p>
						<div class="dontsplit">
						<div class="little_title {{pagina}} hanging-indent">
							<img class="little_triangles" alt="Meccanica" src="{{ STATIC_URL }}img/triangoli/triangoli_meccanica.jpg">
							MECHANISCHE WERKSTATT
						</div>
						Nr. 5 CNC Fräsmaschinen und eine kleine Fräsmaschine für die Grundflächen Bearbeitung an Stahlmesser - 2D und 3D Mechanische Bearbeitungen an Mittelund Grossteile.
						</div>
						<p><b>Produktionsstunden : 15.000 Std / Jahr.</b></p>
					</div>
					{% else %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_meccanica.jpg">
						OFFICINA LAVORAZIONI MECCANICHE
					</div>
					<div class="row two-columns">
						<p>L’officina meccanica è stata la prima delle attività complementari nate intorno alla fonderia. Il reparto è supportato da un centro CAD-CAM per l’elaborazione dei dati forniti dai clienti ed è dotato di frese CNC, con le quali si eseguono lavorazioni 2D e 3D,  principalmente su fusioni di medie e grandi dimensioni.</p>
						<div class="dontsplit">
						<div class="little_title {{pagina}} hanging-indent">
							<img class="little_triangles" alt="Meccanica" src="{{ STATIC_URL }}img/triangoli/triangoli_meccanica.jpg">
							OFFICINA LAVORAZIONI MECCANICHE
						</div>
						Nr. 5 fresatrici CNC + Nr. 1 fresatrice per spianatura lame, Lavorazioni 2D e 3D su fusioni di medie e grandi dimensioni.
						</div>
						<p><b>Ore di produzione disponibili: 15.000 ore/anno.</b></p>
					</div>
					{% endif %}{% endif %}{% endif %}
					<div class="row" style="margin-top: 10%;"><a class="preview" href="{{ STATIC_URL }}img/schemi/schema_meccanica.jpg" title="Schematizzazione."><img src="{{ STATIC_URL }}img/schemi/schema_meccanica.jpg"/></a></div>
{% endblock %}
