{% extends "subsite.html" %}
{% load i18n %}

{% block inner_markup %}
					{% if LANGUAGE_CODE == "en" %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_modelli.jpg">
						CONSTRUCTION OF POLYSTIRENE PATTERNS
					</div>
					<div class="row two-columns">
						<p>This technology, originally used for the production of castings intended for the Automotive industry, especially thanks to the evolution that has affected the casting techniques and the support tools such as mainly the casting simulation, has been applied with excellent results also to productions intended to other sectors.</p>
						<p>Moreover this application allows, at a reasonable costs, a significant operational flexibility and lends to a very wide variety of productions.</p>
						<p>This activity is supported by a CAD-CAM center for data processing.
						<br><span class="dontsplit">The software MAGMASOFT, thanks to the simulation of the melting and solidification processes, highlights the risks of defects and suggests important devices to be added during the models construction.</span></p>
						<br>
						<div class="little_title {{pagina}}">
							<img class="little_triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_modelli.jpg">
							PATTERN SHOP
						</div>
						<p>No. 4 CNC Polystyrene Milling machines, CAD/CAM Office, Simulation with Magmasoft, No. 1 internal pattern shop and No. 1 affiliated Pattern shop in Torino (FF Modelli).</p>
						<p><b>Production hours available: 40.000 hours/year.</b></p>
					</div>
					{% else %}{% if LANGUAGE_CODE == "fr" %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_modelli.jpg">
						RÉALISATION MODÈLES EN POLYSTYRÈNE
					</div>
					<div class="row two-columns">
						<p>Grâce à l’évolution technologique qui a intéressé la réalisation des modèles et les techniques de fusion, aujourd’hui cette méthodologie est appliqué à plusieurs productions et secteurs en garantissant, à coûts raisonnablement contenus, un important éclectisme opérationnel.</p>
						<p>L’activité est appuyée sur un centre CAD-CAM pour l’élaboration des données.</p>
						<br>
						<div class="little_title {{pagina}}">
							<img class="little_triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_modelli.jpg">
							ATELIERS MODELAGE
						</div>
						<p>Nr. 4 Machines à fraiser pour le polystyrène , Bureau CAD/CAM, Simulation avec Magmasoft, Nr.1 Atelier Modelage interne et Nr.1 Atelier Modelage à Turin ( FF Modelli ).</p>
						<p><b>Heures de production disponibles: 40.000 heures / année.</b></p>
					</div>
					{% else %}{% if LANGUAGE_CODE == "de" %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_modelli.jpg">
						ANFERTIGUNG VON STYROPORMODELLE
					</div>
					<div class="row two-columns">
						<p>Danke die technologische Entwicklungen, die der Styropormodellanfertigung sowie den Gießtechnick interessiert haben, findet heute dieses Verfahren vielfältige Anwendungen bei verschiedene Produktionsbereiche.</p>
						<p>Diese Technologie ermöglicht eine hohe betriebliche Flexibilität zu einem vernünftigen Preis und kann für die unterschiedlichsten Produktionen angewendet werden.</p>
						<p>Ein CAD-CAM Büro unterstützt die Aktivitäten für die Datenausarbeitung und Programmierung.
						<br><span class="dontsplit">Während die Anfertigungsphase wird den Giesssimulationssoftware MAGMASOFT angewendet. Die Simulation simuliert das Gießen- und die Erstarrungsprozess, beim heben die mögliche Defekte und schlägt die Einfügung von wichtige Maßnahmen während der Modellanfertigung hervor.</span></p>
						<br>
						<div class="little_title {{pagina}}">
							<img class="little_triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_modelli.jpg">
							MODELLBAU
						</div>
						<p>Nr. 4 CNC Fräsmaschinen für Styropor - CAD/CAM Büro, Giesssimulation mit Magmasoft, Nr. 1 innere Modellbau und Nr. 1 Tochtermodellbau in Torino (FF Modelli).</p>
						<p><b>Produktionsstunden : 40.000 Std / Jahr.</b></p>
					</div>
					{% else %}
					<div class="row title {{pagina}}">
						<img class="triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_modelli.jpg">
						COSTRUZIONE MODELLI IN POLISTIROLO
					</div>
					<div class="row two-columns">
						<p>Questa tecnologia, originariamente utilizzata per la produzione di getti destinati al settore stampi, in seguito, grazie soprattutto all’evoluzione che ha interessato le tecniche di fonderia e gli strumenti di supporto, quali principalmente la simulazione di colata, è stata applicata con ottimi risultati anche alle produzioni destinate ad altri settori.</p>
						<p>Ad oggi questa applicazione permette, a costi ragionevoli, un’ importante versatilità operativa e si presta alle più svariate produzioni.</p>
						<p>L’attività è supportata da un centro	CAD-CAM per l’elaborazione dei dati forniti dal cliente.
						<br><span class="dontsplit">A supporto di questa fase viene	utilizzato il software MAGMASOFT che, simulando la fase di colata e solidificazione dei getti, evidenzia possibili criticità e suggerisce importanti accorgimenti da apportare in fase di realizzazione modelli.</span></p>
						<br>
						<div class="little_title {{pagina}}">
							<img class="little_triangles" alt="Modelli" src="{{ STATIC_URL }}img/triangoli/triangoli_modelli.jpg">
							MODELLERIE
						</div>
						<p>Ufficio CAD/CAM, Simulazione con Magmasoft,Nr.4 fresatrici CNC per polistirolo, Nr. 1 Modelleria interna e Nr. 1 Modelleria a Torino (FF Modelli).</p>
						<p><b>Ore di produzione disponibili: 40.000 ore / anno.</b></p>
					</div>
					{% endif %}{% endif %}{% endif %}
					<div class="row" style="margin-top: 8%;"><a class="preview" href="{{ STATIC_URL }}img/schemi/schema_modelleria.jpg" title="Schematizzazione."><img src="{{ STATIC_URL }}img/schemi/schema_modelleria.jpg"/></a></div>
{% endblock %}
