{% extends "subsite.html" %}
{% load i18n %}

{% block inner_markup %}
					<div class="row title">COSTRUZIONE MODELLI IN POLISTIROLO</div>
					<div class="row two-columns">
						Questa tecnologia, originariamente
						utilizzata per la produzione di getti
						destinati al settore stampi, in seguito,
						grazie soprattutto all’evoluzione che
						ha interessato le tecniche di fonderia
						e gli strumenti di supporto, quali prin-
						cipalmente la simulazione di colata,
						è stata applicata con ottimi risultati
						anche alle produzioni destinate ad
						altri settori.
						<br>Ad oggi questa applicazione permette,
						a costi ragionevoli, un’ importante
						versatilità operativa e si presta alle più
						svariate produzioni.
						<br>L’attività è supportata da un centro
						CAD-CAM per l’elaborazione dei dati
						forniti dal cliente.
						<br>A supporto di questa fase viene uti-
						lizzato il software MAGMASOFT che,
						simulando la fase di colata e solidi-
						ficazione dei getti, evidenzia possi-
						bili criticità e suggerisce importanti
						accorgimenti da apportare in fase di
						realizzazione modelli.
					</div>
					<div class="row" style="margin-top: 10%;"><a class="preview" href="{{ STATIC_URL }}img/schemi/schema_modelleria.jpg" rel="prettyPhoto" title="Schematizzazione."><img src="{{ STATIC_URL }}img/schemi/schema_modelleria.jpg"/></a></div>
{% endblock %}
